<h1>Editing user note</h1>

<%= render "form", user_note: @user_note %>

<br>

<div>
  <%= link_to "Show this user note", @user_note %> |
  <%= link_to "Back to user notes", user_notes_path %>
</div>
