<p style="color: green"><%= notice %></p>

<h1>User notes</h1>

<div id="user_notes">
  <% @user_notes.each do |user_note| %>
    <%= render user_note %>
    <p>
      <%= link_to "Show this user note", user_note %>
    </p>
  <% end %>
</div>

<%= link_to "New user note", new_user_note_path %>
